.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: #CC0000;
}

.header__logo{
    height: 60px;
}

.header__item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.header__item--left{
    justify-content: flex-start;
    align-items: flex-start;
}

.header__decorators{
    display: flex;
    flex-direction: row;
    padding: 0 48px;

}

.pokedex__buttons{
    display: flex;
    flex-direction: row;
    margin-left: 12px;
}

.button{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 16px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);}

.button--red{
    background-color: red;
}

.button--yellow{
    background-color: #FCDE1E;
}

.button--green{
    background-color: #5EAF6B;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 600px) {

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .header__item{
        width: 50%;
    }

    .header__logo{
       height: 40px;
    }

    .header__decorators{
        padding: 8px;
    }

    .button{
        height: 12px;
        width: 12px;
        margin-left: 8px;
    }
}